body{
  margin: auto;
  width: 900px;
  text-align: center;
  font-size: 14px;
}
h1{
  font-size: 24px;
}
h2{
  float: left;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 30px;
}
.row{
  clear:both;
}
#menu{
  float: right;
  font-size: 0.9em;
}
#deputes{
  width: 300px;
}
#photo{
  float: left;
  padding-top: 70px;
  width: 140px;
}
#data{
  float: left;
  width: 400px;
}
#data table{
  width: 100%;
  font-size: 14px;
}
#data table tr.ind:hover{
  background-color: yellow;
  cursor: pointer;
}
#data table tr th{
  font-weight: normal;
  text-align: left;
}
#data table tr td{
  text-align: center;
}
#comparison{
  float: left;
}
#comparison svg{
  width: 360px;
  height: 300px;
}
#timeline{
  clear:both;
  width: 800px;
  height: 300px;
}
